<body>
<p>Package not being currently used.</p>


<p>This package was created with the idea that Whack could be
run as a web application running in a webserver (e.g. Jetty).  It would support plugins that
could be dynamically dropped and the server would detect them and use them without a restart.
The plugins could be new external components that were added to the web app. Each external
component could extend the web app and add new configuration pages so that admins could
easily configure the plugins/external components.</p>

<p><i>Note that conf/jive-whack.xml, security folder and web folder are also not being used.</i></p>        
</body>
